img{
    width: 200px;
    height: 200px;
}
.card-footer a{
    font-size: 20px;
    color: white;
    background-color: rgb(254, 86, 116);
    text-decoration: none;
    transition: 0.5s;
}
.card-footer a:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}